DB_URI = YOUR_URI with PASSWORD
PORT = YOUR PORT
client_id = YOUR CLIENT_ID (get it from cloud.google.com -> credentials -> oauth2.0 client id)
client_secret = YOUR SECRET_KEY (get it from cloud.google.com -> credentials -> oauth2.0 client id)